<!DOCTYPE html>
<html>
<head>
    <title>Edit Expense</title>
</head>
<body>

<h1>Edit Expense</h1>

<form action="/update/{{ expense._id }}" method="post">

    <input
        type="text"
        name="title"
        value="{{ expense.title }}"
        required>

    <br><br>

    <input
        type="number"
        step="0.01"
        name="amount"
        value="{{ expense.amount }}"
        required>

    <br><br>

    <select name="category">

        <option value="Food"
        {% if expense.category == "Food" %}selected{% endif %}>
        Food
        </option>

        <option value="Transport"
        {% if expense.category == "Transport" %}selected{% endif %}>
        Transport
        </option>

        <option value="Shopping"
        {% if expense.category == "Shopping" %}selected{% endif %}>
        Shopping
        </option>

        <option value="Bills"
        {% if expense.category == "Bills" %}selected{% endif %}>
        Bills
        </option>

        <option value="Entertainment"
        {% if expense.category == "Entertainment" %}selected{% endif %}>
        Entertainment
        </option>

        <option value="Other"
        {% if expense.category == "Other" %}selected{% endif %}>
        Other
        </option>

    </select>

    <br><br>

    <input
        type="date"
        name="date"
        value="{{ expense.date }}"
        required>

    <br><br>

    <textarea
        name="note">{{ expense.note }}</textarea>

    <br><br>

    <button type="submit">
        Update Expense
    </button>

</form>

<br>

<a href="/">
    Back to Home
</a>

</body>
</html>
